@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
    --main-color-1: #00EEFF;
    --main-color-2: #fff;
    --main-color-3: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color-3);
}

.loaded {
    background-color: var(--main-color-2);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: var(--main-color-3);
}

.preloader::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.preloader .spinner-frame {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    padding: 10px;
}

.preloader .spinner-frame .spinner-cover {
    background: var(--main-color-3);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    color: var(--main-color-2);
}

.preloader .spinner-frame .spinner-cover img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.preloader .spinner-frame .spinner-bar {
    background: var(--main-color-3);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    -webkit-animation: spinny 2s linear infinite;
    transform-origin: 100% 100%;
}

.preloader .spinner-frame .spinner-bar2 {
    background: var(--main-color-3);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    -webkit-animation: spinny2 2s linear infinite;
    transform-origin: 100% 100%;
}

@-webkit-keyframes spinny {
    0% {
        transform: rotate(0deg);
        background: var(--main-color-1);
    }

    50% {
        transform: rotate(180deg);
        background: var(--main-color-1);
    }

    100% {
        transform: rotate(360deg);
        background: var(--main-color-1);
    }
}

@-webkit-keyframes spinny2 {
    0% {
        transform: rotate(360deg);
        background: var(--main-color-2);
    }

    50% {
        transform: rotate(180deg);
        background: var(--main-color-2);
    }

    100% {
        transform: rotate(0deg);
        background: var(--main-color-2);
    }
}

.loaded #loader {
    visibility: hidden;
}