@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
    --background: #626262;
    --main-text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Jetbrains Mono", monospace;
}

.nav-bar_wrapper {
    height: 50vh;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
    gap: 0px 0px;
}

.nav-bar_upper {
    height: 25%;
    width: 100vw;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
}

.nav-bar_upper-center p {
    font-size: 24px;
}