@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --main-color-1: #00EEFF;
    --main-color-2: #fff;
    --main-color-3: #000;
}

/* Default Styles */
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color-3);
}

a,
a:visited {
    text-decoration: none;
}

/* Footer Styles */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: var(--main-color-3);
    clear: both;
    overflow: auto;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px 21px 0px 0px;
    color: grey;
}

footer a {
    color: gray;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "About Icons Links"
        "Contact Contact Contact";
}

.About {
    grid-area: About;
}

.Icons {
    grid-area: Icons;
}

.Icons h1 {
    margin-bottom: 1%;
}

.Links {
    grid-area: Links;
}

.Contact {
    grid-area: Contact;
}

/* Preloader */

.loaded {
    background-color: var(--main-color-2);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: var(--main-color-3);
}

.preloader::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.preloader .spinner-frame {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    padding: 10px;
}

.preloader .spinner-frame .spinner-cover {
    background: var(--main-color-3);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    color: var(--main-color-2);
}

.preloader .spinner-frame .spinner-cover img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.preloader .spinner-frame .spinner-bar {
    background: var(--main-color-3);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    animation: spinny 2s linear infinite;
    -webkit-animation: spinny 2s linear infinite;
    transform-origin: 100% 100%;
}

.preloader .spinner-frame .spinner-bar2 {
    background: var(--main-color-3);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    animation: spinny2 2s linear infinite;
    -webkit-animation: spinny2 2s linear infinite;
    transform-origin: 100% 100%;
}

@keyframes spinny {
    0% {
        transform: rotate(0deg);
        background: var(--main-color-1);
    }

    50% {
        transform: rotate(180deg);
        background: var(--main-color-1);
    }

    100% {
        transform: rotate(360deg);
        background: var(--main-color-1);
    }
}

@keyframes spinny2 {
    0% {
        transform: rotate(360deg);
        background: var(--main-color-2);
    }

    50% {
        transform: rotate(180deg);
        background: var(--main-color-2);
    }

    100% {
        transform: rotate(0deg);
        background: var(--main-color-2);
    }
}

@-webkit-keyframes spinny {
    0% {
        transform: rotate(0deg);
        background: var(--main-color-1);
    }

    50% {
        transform: rotate(180deg);
        background: var(--main-color-1);
    }

    100% {
        transform: rotate(360deg);
        background: var(--main-color-1);
    }
}

@-webkit-keyframes spinny2 {
    0% {
        transform: rotate(360deg);
        background: var(--main-color-2);
    }

    50% {
        transform: rotate(180deg);
        background: var(--main-color-2);
    }

    100% {
        transform: rotate(0deg);
        background: var(--main-color-2);
    }
}

.loaded #loader {
    visibility: hidden;
}

/* Navbar Styles */

.navbar {
    background-color: var(--main-color-3);
    clear: both;
    overflow: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 21px 21px;
}

nav {
    color: var(--main-color-2);
    float: right;
}

.nav-logo img {
    float: left;
    height: 100px;
    width: 100px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 400%;
}

/*if width under 500px then different navbar*/

nav ul li a {
    color: var(--main-color-2);
}

nav ul li a:hover {
    color: var(--main-color-1);
    transition: all 0.3s ease-in-out;
}

nav ul li #active {
    color: var(--main-color-1);
}