<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta
      name="description"
      content="Nom: SimplesRéparation, Services: aide informatique a domicile, Prix: 20€/h, Lieux: Autour d'Ancenis et liré"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/assets/img/1.webp" />
    <title>Simples Réparations</title>
  </head>
  <body>
    <div class="preloader" id="loader">
      <div class="spinner-frame">
        <div class="spinner-cover">
          <img src="/assets/img/1.webp" alt="Logo" />
        </div>
        <div class="spinner-bar"></div>
        <div class="spinner-bar2"></div>
      </div>
    </div>
    <div class="navbar">
      <div class="nav-logo"><img src="/assets/img/1.webp" alt="SR Logo" /></div>
      <nav>
        <ul>
          <li><a href="/index.html">Accueil</a></li>
          <li><a href="/html/Contact.html">Contact</a></li>
          <li><a href="/html/Services.html">Services</a></li>
        </ul>
      </nav>
    </div>
    <footer>
      <div class="Icons">
        <h1>Attributions</h1>
        <a
          href="https://www.flaticon.com/free-icons/repair"
          target="_blank"
          title="repair icons"
          >Repair icons created by Freepik - Flaticon</a
        >
      </div>
    </footer>
    <script src="/js/myscript.js"></script>
  </body>
</html>
